<%= render 'user_profile' %>
<h3>Changing client's information:</h3>

<% form_for([@user, @client]) do |f| %>
  <%= f.error_messages %>

 
  <p>
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :tel %><br />
    <%= f.text_field :tel %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', user_client_path(@user) %> |
<%= link_to 'Back', user_clients_path %>